<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org//TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org//1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Richiesta Nuova Password</title>
	</head>
	<body style="font-family: Calibri, sans-serif; font-size: 12pt">
		<p>Ciao {{name}},<br>la tua password provvisoria per accedere a {{host}} è: {{password}}</p>		
		<p>
			SUGGERIMENTO: per evitare errori di inserimento della password provvisoria, seleziona quest'ultima e fai &ldquo;copia e incolla&rdquo; nell'apposita sezione
		</p>
		<p align="left" style="font-size:12px;line-height:18px;
		   color:#333333;text-decoration:none;padding:15px 5px 15px 5px; background-color:#F3F3F3;">
			<span style="margin-left: 10px">Questa email viene inviata automaticamente, ti preghiamo di <strong>non rispondere a questo indirizzo.</strong></span>
		</p>
	</body>
</html>
